<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SpringChat</title>
    <link rel="stylesheet" th:href="@{/styles/main.css}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
    <nav class="navbar navbar-dark bg-primary" style="padding-right: 8px; padding-left: 8px;">
        <a class="navbar-brand" href="#">SpringChat</a>
        <ul class="navbar-nav ml-auto">
            <li>
                <a onclick="turnSoundOnOff();">
                    <i id="speakerIcon" class="fa-solid fa-2xl fa-volume-high" style="color: #ffffff;"></i>
                </a>
            </li>
        </ul>
    </nav>

    <div id="usernameFormContainer" class="username-form-container">
        <div class="username-form-header">Type your username to start chatting</div>
        <form id="usernameForm" name="usernameForm" class="username-form">
            <input type="text" id="usernameInput" name="usernameInput" class="form-control" placeholder="Username">
            <div id="usernameInputErrorMessage" class="error-message" style="display: none;">Username cannot be empty</div>
            <button type="submit" class="btn btn-primary">Start</button>
        </form>
    </div>

    <div id="chatPage" class="hidden">
        <div class="chat-container">
            <div class="messages-container">
                <div class="messages-header">Chat</div>
                <div id="messagesSpinner">
                    <div class="spinner-border text-primary connecting" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <ul id="messageArea" class="messages-area"></ul>
                <form id="messageForm" class="message-form">
                    <input type="text" id="messageInput" class="form-control" placeholder="Aa">
                    <button type="submit" class="btn btn-primary">Send</button>
                </form>
            </div>
            <div class="users-container">
                <div id="usersHeader" class="users-header">Users (0)</div>
                <div id="usersSpinner">
                    <div class="spinner-border text-primary connecting" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
                <ul id="usersArea" class="users-area"></ul>
            </div>
        </div>
    </div>

    <script th:src="@{/scripts/chat.js}"></script>
    <script th:src="@{/scripts/validation.js}"></script>
    <script th:src="@{https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js}"></script>
</body>
</html>
